/****** Object:  StoredProcedure [dbo].[PA_UPDATE_SALE]    Script Date: 13/12/2021 19:30:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-----------------------------------------------------------------------------------------------------------------------------------------------------

	NOMBRE DEL PROCEDIMIENTO:	PA_XXX
	FECHA DE CREACIÓN: 		--/--/----
	AUTOR:				------
	VSS:				RUTA VISUAL SOURCESAFE EJ: BP\CODIGO_SQL\01. PROCEDIMIENTOS ALMACENADOS\70. I2C\1003 - Maestro referencias\ARISTOCRAZY
	USO:				##WEB##|##VISUAL##

	FUNCIONAMIENTO:			FUNCIONAMIENTO

	PARAMETROS:			(OPCIONAL)
		PARAMETRO1 		INPUT	EXPLICACION
		PARAMETRO2 		OUTPUT	EXPLICACION

-------------------------------------------------------------------------------------------------------------------------------------------------------
--	FECHA DE MODIFICACIÓN:
--	AUTOR:
--	EXPLICACIÓN:	
------------------------------------------------------------------------------------------------------------------------------------------------------*/
ALTER     PROCEDURE [dbo].[PA_UPDATE_SALE]
	
	@IDCAB	INT,
	@N_LIN INT,
	@IDPRODUCT INT,
	@UNITS	INT,
	@IDLIN	INT,
	@TOTAL_PRICE DECIMAL(18,2),
	@STATE INT,

	@INVOKER	INT,		-- ESTE PARÁMETRO LO DEBEN TENER TODOS LOS PAS
	@USUARIO	VARCHAR(12),	-- ESTE PARÁMETRO LO DEBEN TENER TODOS LOS PAS
	@CULTURA	VARCHAR(5),

	@RETCODE	INT OUTPUT, --DEFINICIÓN OBLIGATORIA
	@MENSAJE	VARCHAR(1000)	OUTPUT	--DEFINICIÓN OBLIGATORIA

AS

BEGIN TRY

	DECLARE @N_TRANS		INT = 0	 --NUMERO DE TRANSACCIONES ACTIVAS	(@@TRANCOUNT)
	SET @N_TRANS = @@TRANCOUNT

	
	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @N_TRANS = 0						-- Si hay una transacción por encima no hacemos nada
	BEGIN
		BEGIN TRANSACTION TR_NOMBRE_TRANSACTION
	END
	----------------------------------------------------------------------------------------------------------------------------------------------
	if NOT EXISTS (SELECT * FROM SALES_LIN WHERE IDCAB = @IDCAB AND IDLIN = @IDLIN)
	BEGIN
		INSERT INTO SALES_LIN VALUES (@N_LIN, @IDPRODUCT, @UNITS, @IDCAB)
	END
	ELSE
	BEGIN
		--UNIDADES DE LA LINEA
	DECLARE @CANTIDA_PEDIDO INT
	SELECT @CANTIDA_PEDIDO = UNITS FROM SALES_LIN WHERE IDLIN = @IDLIN

	--SI METEMOS MAS PRODUCTOS EN EL PEDIDO
		IF(@CANTIDA_PEDIDO < @UNITS)
		BEGIN
			DECLARE @CANTIDAD INT 
			SET	@CANTIDAD = @UNITS - @CANTIDA_PEDIDO
			UPDATE PRODUCTS SET STOCK = STOCK - @CANTIDAD WHERE IDPRODUCT = @IDPRODUCT
		END
	--SI QUITAMOS PRODUCTOS DEL PEDIDO
		IF(@CANTIDA_PEDIDO > @UNITS)
		BEGIN
			DECLARE @CANTIDAD2 INT 
			SET @CANTIDAD2 = @CANTIDA_PEDIDO - @UNITS
			UPDATE PRODUCTS SET STOCK = STOCK + @CANTIDAD2 WHERE IDPRODUCT = @IDPRODUCT
		END

		UPDATE SALES_LIN SET UNITS = @UNITS WHERE IDLIN = @IDLIN

	END
	

	UPDATE SALES_CAB SET TOTAL_PRICE = @TOTAL_PRICE,
			COMENTS = 'PEDIDO MODIFICADO EL '+ CAST(SYSDATETIME() AS varchar(MAX)),
			STATE = @STATE
			WHERE IDCAB = @IDCAB

	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @N_TRANS = 0						-- Si hay una transacción por encima no hacemos nada
	BEGIN
		COMMIT TRANSACTION TR_NOMBRE_TRANSACTION
	END
	----------------------------------------------------------------------------------------------------------------------------------------------


	SET @MENSAJE = 'El proceso se ha realizado correctamente.'
	SET @RETCODE = 0
	RETURN @RETCODE
END TRY
BEGIN CATCH
	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @N_TRANS = 0 AND @@TRANCOUNT > 0				-- Si hay una transacción por encima no hacemos nada
	BEGIN
		ROLLBACK TRANSACTION TR_NOMBRE_TRANSACTION
	END
	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @MENSAJE = '' 
	BEGIN
		SET  @MENSAJE = ERROR_MESSAGE()
	END
	
	SET @RETCODE = -1
		
	RETURN @RETCODE
END CATCH

	SET @RETCODE = -1		
	RETURN @RETCODE






/*----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------               PRUEBAS              ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------


DECLARE @RETCODE	INT
DECLARE @PARAMETRO1	VARCHAR(10)
DECLARE @PARAMETRO2	INT
DECLARE @PARAMETRO3	VARCHAR(20)
DECLARE @MENSAJE	VARCHAR(1000)

SET @MENSAJE 		= ''

EXEC @RETCODE = PA_XXXX @PARAMETRO1, @PARAMETRO2, @PARAMETRO3 OUTPUT, @MENSAJE OUTPUT

PRINT 'RETCODE:	' 	+ ISNULL(CAST(@RETCODE AS VARCHAR(10)), 'NULO')
PRINT 'MENSAJE:	' 	+ ISNULL(@MENSAJE, 'NULO')
PRINT 'PARAMETRO3''	+ ISNULL(@PARAMETRO3, 'NULO')



------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------             FIN PRUEBAS            ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/